* {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

header{
    background-color: #7fb3b5;
    padding: 10px;
}

#menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}

#menu img{
    height: 50px; 
}

#option{
    margin-bottom: 10px;
    width: 15%;
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
}

#option a{
    color: aliceblue;

}

nav{
    display: flex;
    justify-content: space-around;
    margin: 5px;
   
}

nav a{
    color: aliceblue;
}

.menu{
display: flex;
justify-content: space-around;
color: blanchedalmond;
text-decoration: none;
list-style: none;
}  
.menu a {
color: blanchedalmond;

}

img{
    width: 4% ;
    margin-top: 5px;
  
}

.img2{
    width: 2% ;
    text-align:"left"; 
   
}

#pub{
    width: 100%;
    height: 350px;
    padding: 5px;
}

.presentation{
    width: 100%;
   display: grid;
   grid-template-columns: 1fr 5fr; 
   height: fit-content;
   
}

.plateforme{
    height: 100%;
}

.entreprise{
    display: flex;
    height: 40%;
    width: 100%;
    justify-content: flex-start;
    background-color: #f3f1f1;
}

#ordinateur{
    width: 37%;
    height: 62%;
    padding-right: 10px;
    padding-top: 20px;
}

.text{
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 10px;

}

#titre{
    text-align: center;
    font-size: 1.2em;
}



.domaines{
    background-color: white;
   ::-webkit-scrollbar
}

.search{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loupe{
    position: absolute;
    height: 30px;
    width: 30px;
    padding-left: 2px;
}

.srch{
   margin: 0 2px;
   width: 250px;
   padding: 10px;
   border-radius: 30px;
   padding-left: 40px;
}

.offres{
   height: 60%;
   display: flex;
   flex-wrap: wrap;
   padding: 20px 0;
}

.offre1{
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 18%;
    margin-left: 5%;
    padding-left: 10px;
}       

.photo1{
    height: 60%;
    width: 110%;
}

.description{
    height: 35%;
    width: 110%;
    border: 1px solid black;
    padding-left: 5px;
    padding-bottom: 10px;
}   

.description h3,
.description p,
.description span{
    margin: 0px;
}
/*.partenaires{
    height: 48vh;
    width: 100%;
    background-color: white;
    margin-bottom: 0;
}*/

#nospartenaires{
    background-color: #7fb3b5;
    text-align: center;
    height: 50px;
    margin-top: 10px;
    padding-top: 20px;
}

.parties{
    width: 100%;
   display: grid;
   grid-template-columns: 1fr 1fr; 
   height: fit-content;
   background-color: #7fb3b5;
   height: 250px;
   
}

.etablissements{
    text-align: center;
}

.nosentreprises{
    text-align: center ;
}

.shool{
    width: 70px;
    height: 70px;
   
}

.newsletter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: black;
    height: 140px;
    padding-bottom: 20px;
}

.newsletter form{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.newsletter input{
    margin-right: 2em;
    padding-left: 15px ;
}

.infonews{
    border-radius: 15px;
    height: 55px;
    width: 25%;
    border: 1px solid black;
}

.inscription{
    border-radius: 10px;
    height: 40px;
    width: 10%;
    font-size: 1.2em;
    background-color: #7fb3b5;
    color: black;
    
}

.newsletter h2{
    color: #f3f1f1;
}

.donnees{
    height: 35vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: antiquewhite;
    justify-content: center;
    background-color: black;
    padding-left: 100px;
    padding-top: 10px;
}


.categories {
    text-transform: lowercase;
    text-align: justify;
}

.nouscontacter{
    border-top: 1px solid white;
    display: flex;
    justify-content: space-around;
    color: aliceblue;
    background-color: black;
    padding-top: 2px;
}

.reseau{
    height: 30px;
    width: 30px;
}

.first{
    font-family:'Segoe UI';
    font-size: 0.7em;
}

.second{
    display: grid;
    flex-direction: column;
    padding-left: 50px;
    font-size: 0.7em;
    font-family: 'Segoe UI';
}

.call{
    height: 30px;
    width: 20px;
}

.colonne2{
    display: flex;
}

.colonne2 li{
    padding-top: 10px;
}

.thirst{
    display: grid;
    flex-direction: column;
    padding-left: 50px;
}

.mail{
    height: 35px;
    width: 25px;
}

.colonne3{
    font-family: 'Segoe UI';
    font-size: 0.7em;
}

.colonne4{
    display: flex;
}

.colonne4 li{
    padding-top: 10px;
    padding-left: 5px;
}

.fourth li{
    font-family: 'Segoe UI';
    font-size: 0.8em;
}